
.header {
    margin-top: 50%;
	height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}

.content
{
    display: flex;
    justify-content: space-around;
}

.main {
    display: flex;
    border: 8px solid goldenrod;
    max-height: 457px;
}

.camera
{
    display: flex;
    flex-direction: column;
    height: 457px;
}

.imgpng
{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.margin {
    margin-top: 5px;
    margin-left: 920px;
}

.placebuttonunder {
    position: relative;
    margin-left: 399px;
}

button#startbutton {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background-color: antiquewhite;
}

.footer
{
    position: fixed;
    bottom: 0;
    background: white;
    height: 120px;
    width: 100%;
}

video#video
{
    width: 711px;
    height: 90%;
}

.list_sticker
{
    display: flex;
}

.sticker
{
    margin-top: 3px;
    width: 75px;
    height: 75px;
}

img#button_cam
{
    height: 42px;
}

img
{
    max-width: 100%;
}

.preview
{
    border: 8px solid goldenrod;
    overflow-y: scroll;
    max-height: 457px;
    min-width: 335px;
    max-width: 335px;
}

button#gallery
{
    display: block;
    margin-top: 164px;
    margin-left: auto;
    margin-right: 18px;
    margin-bottom: 8px;
    border-radius: 11px;
}

a
{
    text-decoration: none;
    color: black;
}
