body {display : flex; background-color: antiquewhite;}
header {width: 100%; height: 20vh; border: solid black 2px;}
.form {display: flex; justify-content: flex-end; text-align: center;}
.login {margin-right: 4vw;}